@font-face {
  font-family: "Besley-Regular";
  src: url("/src/assets/fonts/Besley-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley-Regular-Italic";
  src: url("/src/assets/fonts/Besley-BookItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley-Medium";
  src: url("/src/assets/fonts/Besley-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley-Medium-Italic";
  src: url("/src/assets/fonts/Besley-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley-Bold";
  src: url("/src/assets/fonts/Besley-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley-Bold-Italic";
  src: url("/src/assets/fonts/Besley-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile";
  src: url("/src/assets/fonts/Metallophile\ Sp8\ Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile";
  src: url("/src/assets/fonts/Metallophile\ Sp8\ Light\ Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile";
  src: url("/src/assets/fonts/Metallophile\ Sp8\ Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile";
  src: url("/src/assets/fonts/Metallophile\ Sp8\ Medium\ Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
