@font-face {
  font-family: "Beautiful-Light";
  src: url("/assets/fonts/BeautifulLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beautiful-Light-Italic";
  src: url("/assets/fonts/BeautifulLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ClearFace-Regular";
  src: url("/assets/fonts/ClearfaceStd-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ClearFace-Regular-Italic";
  src: url("/assets/fonts/ClearfaceStd-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile-Light";
  src: url("/assets/fonts/Metallophile_Sp8_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile-Light-Italic";
  src: url("/assets/fonts/Metallophile_Sp8_Light.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile-Medium";
  src: url("/assets/fonts/Metallophile_Sp8_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metallophile-Medium-Italic";
  src: url("/assets/fonts/Metallophile_Sp8_Medium_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("/assets/fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Regular-Italic";
  src: url("/assets/fonts/SpaceMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Bold";
  src: url("/assets/fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Bold-Italic";
  src: url("/assets/fonts/SpaceMono-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  filter: contrast(100%) brightness(100%);
  background: linear-gradient(to top left, rgba(0, 123, 41, 0.15), rgba(248, 247, 231, 0.44)),
    radial-gradient(
      at var(--mouse-x) var(--mouse-y),
      rgba(191, 255, 0, 0.374),
      rgba(242, 153, 94, 0.664),
      rgba(255, 159, 234, 0.779)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 164 164' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.79' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
